@import "tailwindcss";

@theme {
  --color-banking-dark: #030712;
  --color-banking-card: #111827;
  --color-banking-accent: #3b82f6;
  --color-banking-border: #1f2937;
  --color-banking-text: #f3f4f6;
}

body {
  @apply bg-banking-dark text-banking-text font-sans antialiased;
}
